---
layout: default
---

  
  
  
 <!-- Start Fullpage Hero -->
  <figure class="ampstart-image-fullpage-hero m0 relative mb4">
    <amp-img width="404" height="720" alt="The Year&#39;s Best Animal Photos" layout="responsive" src="{{ site.baseurl }}/images/scindia.jpg" media="(max-width: 415px)"></amp-img>
    <amp-img height="720" alt="The Year&#39;s Best Animal Photos" layout="fixed-height" src="{{ site.baseurl }}/images/asd.PNG" media="(min-width: 416px)"></amp-img>
    <figcaption class="absolute top-0 right-0 bottom-0 left-0">
      <header class="p3">
        <h1 class="ampstart-fullpage-hero-heading mb3">
          <span class="ampstart-fullpage-hero-heading-text">
            Did Gadkari missed the CM post ?
          </span>
        </h1>

          <span class="ampstart-image-credit h4">
            By <a href="#" role="author" class="text-decoration-none">Bipin Sasi</a>,<br> Dec 1st, 2019
          </span>
    </header>
    <footer class="absolute left-0 right-0 bottom-0">
      <a class="ampstart-readmore py3 caps line-height-2 text-decoration-none center block h5" href="https://www.indianewsdaily.in/politics/2019/12/01/Gadkari.html#bhopal"><span class="ampstart-readmore-text px1">Read more</span></a>
    </footer>
    </figcaption>
  </figure>
  <!-- End Fullpage Hero -->

  
<main class="content" id="content" role="main">

 
  <header class="blog-header">

   <h1 class="blog-title">{{ site.title }}</h1>
      <p class="blog-description"><i>{{ site.description }}</i></p>
  </header>



  <div class="cf frame">
    {% for post in paginator.posts %}
      <article class="post" itemscope itemtype="http://schema.org/BlogPosting" role="article">
        <div class="article-item">
          <header class="post-header">
            <h2 class="post-title" itemprop="name"><a   class="text-decoration-none" href="{{ site.baseurl }}{{ post.url }}" itemprop="url">{{ post.title}}</a></h2>
          </header>
          <section class="post-excerpt" itemprop="description">
            <p >{{ post.excerpt | strip_html | truncatewords: 50 }}</p>
			
			
			
          </section>
          <div class="post-meta">
            <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_long_string }}</time>
          </div>
		  
		  

      
	  
	  
        </div>
      </article>
    {% endfor %}
  </div>
  
  
  

  <nav class="pagination" role="navigation">
    {% if paginator.next_page %}
      <a class="newer-posts" href="{{ site.baseurl }}/page{{paginator.next_page}}">&larr; Older posts</a>
    {% else %}
      <a class="newer-posts disabled">&larr; Older posts</a>
    {% endif %}
    <span class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.previous_page %}
      {% if paginator.page == 2 %}
        <a class="older-posts" href="{{ site.baseurl }}/">Newer posts &rarr;</a>
      {% else %}
        <a class="older-posts" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer posts &rarr;</a>
      {% endif %}
    {% else %}
      <a class="older-posts disabled">Newer posts &rarr;</a>
    {% endif %}
  </nav>
  
  
  
  
  <amp-instagram data-shortcode="B2CWRSsAALD" width="379" height="249" layout="responsive" class="p0 mb4 px3"></amp-instagram>
  
  

<!-- Start Related Section -->
<section class="ampstart-related-section mb4 px3">
      <h2 class="h3 mb1">Recommended for you</h2>
  <ul class="ampstart-related-section-items list-reset flex flex-wrap m0">
      <li class="col-12 sm-col-4 md-col-4 lg-col-4 pr2 py2">


  <!-- Start Image with Caption -->
  <figure class="ampstart-image-with-caption m0 relative mb4">
    <amp-img src="{{ site.baseurl }}/images/jobs.png" width="233" height="202" alt="Bullseye view: Bird Watching 101" layout="responsive" class=""></amp-img>
    <figcaption class="h5 mt1 px3">
     Stay updated with latest government jobs from India
    </figcaption>
  </figure>
  <!-- End Image with Caption -->
      </li>
      <li class="col-12 sm-col-4 md-col-4 lg-col-4 pr2 py2">


  <!-- Start Image with Caption -->
  <figure class="ampstart-image-with-caption m0 relative mb4">
    <amp-img src="{{ site.baseurl }}/images/scindia.jpg" width="233" height="202" alt="The Worlds fastest animal" layout="responsive" class=""></amp-img>
    <figcaption class="h5 mt1 px3">
      Know whats happending in Indian Politics
    </figcaption>
  </figure>
  <!-- End Image with Caption -->
      </li>
      <li class="col-12 sm-col-4 md-col-4 lg-col-4 pr2 py2">


  <!-- Start Image with Caption -->
  <figure class="ampstart-image-with-caption m0 relative mb4">
    <amp-img src="{{ site.baseurl }}/images/shibani2.jpg" width="233" height="202" alt="Cattle Ranch roundup" layout="responsive" class=""></amp-img>
    <figcaption class="h5 mt1 px3">
   Gossips from the Bollywood and Indian Film Industry
    </figcaption>
  </figure>
  <!-- End Image with Caption -->
      </li>
  </ul>
</section>
<!-- End Related Section -->




</main>

{% include footer.html %}
