---
layout: default
---



<figure class="ampstart-image-fullpage-hero m0 relative mb4">
    <amp-img width="404" height="720" alt="Will Jyotiraditya Scindia join BJP" layout="responsive" src="images/scindia.jpg" media="(max-width: 415px)"></amp-img>
    <amp-img height="720" alt="Will Jyotiraditya Scindia join BJP?" layout="fixed-height" src="images/scindia.jpg" media="(min-width: 416px)"></amp-img>
    <figcaption class="absolute top-0 right-0 bottom-0 left-0">
      <header class="p3">
        <h1 class="ampstart-fullpage-hero-heading mb3">
          <span class="ampstart-fullpage-hero-heading-text">
            Will Jyotiraditya Scindia join BJP ? Next Possible CM ?
          </span>
        </h1>

          <span class="ampstart-image-credit h4">
            By <a href="#" role="author" class="text-decoration-none">Bipin Sasi/a>,<br> September 02nd, 2019
          </span>
    </header>
    <footer class="absolute left-0 right-0 bottom-0">
      <a class="ampstart-readmore py3 caps line-height-2 text-decoration-none center block h5" href="#content"><span class="ampstart-readmore-text px1">Read more</span></a>
    </footer>
    </figcaption>
  </figure>
  
  
  
  
  
<main class="content" id="content" role="main">

 
  <header class="blog-header">

   <h1 class="blog-title">{{ site.title }}</h1>
      <p class="blog-description">{{ site.description }}</p>
  </header>



  <div class="cf frame">
    {% for post in paginator.posts %}
      <article class="post" itemscope itemtype="http://schema.org/BlogPosting" role="article">
        <div class="article-item">
          <header class="post-header">
            <h2 class="post-title" itemprop="name"><a href="{{ site.baseurl }}{{ post.url }}" itemprop="url">{{ post.title}}</a></h2>
          </header>
          <section class="post-excerpt" itemprop="description">
            <p>{{ post.excerpt | strip_html | truncatewords: 50 }}</p>
			
			
			
          </section>
          <div class="post-meta">
            <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_long_string }}</time>
          </div>
		  
		  

      
	  
	  
        </div>
      </article>
    {% endfor %}
  </div>
  
  
  

  <nav class="pagination" role="navigation">
    {% if paginator.next_page %}
      <a class="newer-posts" href="{{ site.baseurl }}/page{{paginator.next_page}}">&larr; Older posts</a>
    {% else %}
      <a class="newer-posts disabled">&larr; Older posts</a>
    {% endif %}
    <span class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.previous_page %}
      {% if paginator.page == 2 %}
        <a class="older-posts" href="{{ site.baseurl }}/">Newer posts &rarr;</a>
      {% else %}
        <a class="older-posts" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer posts &rarr;</a>
      {% endif %}
    {% else %}
      <a class="older-posts disabled">Newer posts &rarr;</a>
    {% endif %}
  </nav>

</main>

{% include footer.html %}
